.list--project
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12)
  margin: 10px 0
  padding: 12px
  +above(700px)
    padding: 32px

.list--project--title
  text-align: center
  margin: 0
  font-size: 1.5em
  +above(700px)
    font-size: 2em

.list--project--proposals
  margin: 0
  padding: 0 0 0 20px 
  list-style: none

.list--trigger {
  display: none;
  width: 0;
  height: 0;
}

.list--trigger:checked ~ .list--detail 
  display: block

.list--label:before
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  position: absolute
  left: -20px
  top: 0
  // margin-right: .2em;
  text-align: left;
  font-variant: normal;
  text-transform: none;
  // line-height: 1em;
  // margin-left: .2em;
  content: "\e801" 
  color: #bdbdbd

.list--trigger:checked ~ .list--label:before
  content: "\e802" 

.list--project--proposal
  list-style: none
  position: relative

.list--label 
  cursor: pointer
  user-select: none
  line-height: 2em
  font-size: 1em
  +above(700px) 
    font-size: 1.625em

.list--detail 
  display: none
  padding: 0
  font-size: 1em
  line-height: 1.5em
  // background-color: #f4f4f4
  margin: 0 auto
  text-align: justify
  width: 90% 
  +above(700px)
    width: 700px


.list--link
  text-decoration: none
  color: #e51c23
  font-size: 12px
  +above(700px)
    font-size: 18px


