* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.main 
  position: relative
  max-width: 960px
  margin: 0 auto

.main--header {
  text-align: center;
}

.main--count
  display: inline-block
  line-height: 2em

.main--show-tags
  position: relative
  // right: 0

.show-tags--toggle {
  width: 0;
  height: 0;
  display: none;
}

.show-tags--trigger {
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 0;
  user-select: none;
}

.show-tags--toggle:checked ~ .show-tags--tags {
  display: block;
}


.show-tags--tags {
  display: none;
}

