@import "../../fonts/css/fontello.css"

cover-bg = #fafafa

* 
  box-sizing: border-box

body 
  font-family: "Roboto", Helvetica, sans-serif
  margin: 0
  color: #424242

a
  text-decoration: none
  color: #e51c23

.main 
  position: relative
  max-width: 960px
  margin: 0 auto

.main--cover
  user-select: none
  background-color: cover-bg
  font-size: 80%
  padding: 48px 0 32px 
  +above(700px)
    padding: 96px 0 64px 
    font-size: 100%

h1.main--header
  font-size: 2em
  line-height: 1.2em
  margin-bottom: 1em
  +above(700px)
    margin-bottom: 0 
    line-height: 1.6em
    font-size: 3em
  
h2.main--header
  font-size: 1.5em
  +above(700px)
    font-size: 2.25em

.main--header 
  text-align: center
  margin: 0
  font-weight: 400
  color: #e51c23

.main--toolbar
  user-select: none
  background-color: #424242
  position: relative
  color: cover-bg
  font-size: 1em
  padding: 12px
  +above(700px)
    padding: 16px
    font-size: 1em

.main--count
  display: inline-block
  line-height: 2em
  

.show-tags--toggle {
  width: 0;
  height: 0;
  display: none;
}

.main--show-tags {
  float: right
  cursor: pointer;
  user-select: none;
  border-bottom: 1px dashed cover-bg
  line-height: 2em
  height: 2em
}

.main--reset-tags {
  cursor: pointer;
  border-bottom: 1px dashed cover-bg
  height: 1.6em
}

.main--toggle-tags
  width: 0
  height: 0
  display: none


.main--tag-list
  margin: 0
  padding: 8px
  background-color: cover-bg  
  display: none

.main--toggle-tags:checked ~ .main--tag-list
  display: block


.main--show-tags:before
  content: "Show "
  
.main--toggle-tags:checked ~ .main--toolbar .main--show-tags:before
  content: "Hide "
  
.main--list 
  padding: 0
  list-style: none

.main--footer
  user-select: none
  background-color: #424242
  height: 48px
  font-size: 1em
  line-height: 48px
  color: cover-bg
  padding:0 32px
  position: relative


.footer--source
  position: absolute
  left: 20px
  span:after
    content: "\00a0"

.footer--byline
  position: absolute
  right: 20px    
