.count--title,
.count--value
  display: inline-block

.count--title
  margin: 0 10px
  text-transform: uppercase

.count--value
  background-color: #ccc
  text-align: center
  width: 40px
  height: 40px
