* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.tags {
  margin: 0 0 20px 20px;
  padding: 0;
  display: none;
}

.tag {
  display: inline-block;
  width: 25%;
  position: relative;
  line-height: 1.4em;
}

.tag-add, 
.tag-remove {
  cursor: pointer;
}

.tag-remove {
  color: red;
  position: absolute;
  left: -15px;
}

.top-header {
  text-align: center;
}

.top-tag-filter,
.top-title-filter {
  display: inline-block;
}

.tag-trigger {
  display: none;
  width: 0;
  height: 0;
}


.tag-trigger:checked ~ .top-tag-filter .tags {
  display: block;
}

.tag-trigger:checked ~ .top-tag-filter .tag-filter-add-all {
  display: inline-block;
}

.tag-trigger:checked ~ .top-tag-filter .tag-filter-remove-all {
  display: inline-block;
}

.tag-filter-show-hide,
.tag-filter-add-all,
.tag-filter-remove-all {
  margin: 20px 20px 0;
  cursor: pointer;
}

.tag-filter-add-all,
.tag-filter-remove-all {
  display: none;
}

.list {
  padding: 0;
  list-style: none;
}

.list-trigger {
  display: none;
  width: 0;
  height: 0;
}

.list-trigger:checked ~ .list-detail {
  display: block;
}

.list-label {
  font-size: 1.4em;
  line-height: 2em;
  cursor: pointer;
}

.list-detail {
  display: none;
}

.detail-tags {
  padding: 0;
  list-style: none;
}

.detail-tag {
  display: inline;
  cursor: pointer;
}
